* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* reset completed */
#container {
  width: 100vw;
  height: 100vh;
}

#header {
  background-color: lightblue;
  height: 10vh;
  width: 100vw;
}

.title {
  background-color: greenyellow;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: aqua;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itembox {
  background-color: yellow;
  width: 50vw;
  height: 50vh;
}

/* @media (min-width: 1500px) {
  html {
    font-size: 23px;
  }
} */
